@import "bootstrap/scss/bootstrap";

/** Generale **/
body {
    background-color: black;
    font-family: 'Koulen' ,sans-serif;
    color: white;
}

p, a, h2, h3, label {
    color: white !important;
}

label, button, input, ul li, td{
    font-family: 'Gabarito', sans-serif;
}

/** Nav bar **/
.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.navbar-nav a {
    font-weight: bold !important;
    margin-left: 10px;
    letter-spacing: 4px;
}

.navbar-nav a:active, .navbar-nav a:focus {
    color: brown !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.navbar-nav a:not(:hover) {
    transition: transform 0.3s ,color 0.3s ease;
}

.navbar-nav a:hover {
    transition: transform 0.5s ease, color 0.3s ease;
    transform: scale(1.2);
    color: brown !important;
}

.div-nav-items {
    margin-left: -200px;
}

/* Barre horizontale */
hr {
    color: white !important;
    margin-top: -5px;
    border-width: 3px;
}

/* mot `Cycle` en gradient*/
.cycle-word {
    background-image: linear-gradient(120deg, red, fuchsia, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

/* Introduction*/
.introduction {
    text-align: center;
    margin-top: 50px;
}

.introduction h2 {
    color: white;
    margin: 50px;
    letter-spacing: 6px;
}

.introduction p {
    color: white;
    font-weight: bold;
    font-size: large;
    margin: 10px;
    line-height: 25px;
    letter-spacing: 3px;
}

/** Bouton commencer **/
.div-start {
    text-align: center;
}

.div-start p {
    letter-spacing: 2px;
}

.div-start button {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: brown;
    border-color: brown;
    border-radius: 7px;
    border-style: solid;
}

.div-start button:disabled,
.div-start button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}


.div-start button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(72, 18, 18);
}

.div-start button:active {
    background-color: rgb(36, 9, 9);
}

/** Boutons choix de jeux **/

.div-jeux-boutons button{
    background-color: #6E3B45;
    border-color: #6E3B45;
    width: 350px;
    max-width: 400px;
    min-width: none;
    height: 70px;
    margin-top: 40px;
}

button[active] {
    background-color: rgb(36, 9, 9);
}

/** Quiz **/
.div-quiz {
    border-color: rgba(255, 255, 255, 0.328);
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 0px;
    max-width: 1060px;
    height: 450px;
}

.div-quiz-contenu {
    width: 100%;
    height: 100%;
    margin: 20px;
}

.bonne-reponse {
    background-color: green;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}

.bonne-reponse p {
    margin: auto;
    font-size: 100px;
}

.mauvaise-reponse {
    background-color: red;
    border-radius: 7px;
    margin-left: -3%;
    margin-top: -3%;
    padding-top: 10%;
    width: 106%;
    height: 107%;
    display: none;
}

.mauvaise-reponse p:first-child {
    margin: auto;
    font-size: 100px;
}

.mauvaise-reponse p:nth-child(2) {
    margin: auto;
    font-size: 50px;
}

.div-quiz h3 {
    text-align: left;
}

.div-quiz h3 span{
    font-size: 30px;
}

/** Formulaire **/
.formulaire {
    display: flex;
    flex-direction: column;
}

.formulaire label {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.div-soumission button, .div-soumission input {
    height: 35px;
    width: 350px;
}

.div-soumission button {
    border-radius: 4px;
    width: 150px;
}

/** Formulaire radio **/
.form-radio {
    display: none;
}

.form-radio div {
    margin-top: 10px;
}

.form-radio div label {
    
    margin-right: 30px;
}

.form-radio div button {
    display: block;
    margin: auto;
    margin-top: 20px;
}


/** Temps restant **/
.div-time {
    margin: auto;
    margin-top: 20px;
    width: 510px;
    height: 10px;
}

.progress-bar {
    width: 100%;
    background-color: green;
    transition: width .01s linear;
}

/** Bouton d'aide **/
button.button-aide {
    background-color: grey;
    border-style: none;
    margin: 60px;
    padding: 10px;
}

button.button-aide:hover {
    background-color: rgb(92, 92, 92);
    padding: 10px;
}

.upArrow {
    display: inline-block;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/** Connaissances **/

.div-conaissances {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game1-game , .game2-game, .game3-game {
    margin: 50px;
    flex: 200px;
}

td {
    text-align: left;
    
}

.empty-row {
    color: transparent !important;
}

/** A propos **/
.about {
    display: none;
    flex-direction: column;
}

.about p {
    margin: auto;
    font-family: 'Gabarito', sans-serif;
}