@import "bootstrap/scss/bootstrap";

/** Generale **/
body {
    background-color: black;
    font-family: 'Koulen' ,sans-serif;
    color: white;
    width: 100%;
}

p, a, h2, h3, label {
    color: white !important;
}

label, button, input, ul li, td{
    font-family: 'Gabarito', sans-serif;
}

/** Nav bar **/
.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.navbar-nav a {
    font-weight: bold !important;
    margin-left: 10px;
    letter-spacing: 4px;
}

.navbar-nav a:active, .navbar-nav a:focus {
    color: brown !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.navbar-nav a:not(:hover) {
    transition: transform 0.3s ,color 0.3s ease;
}

.navbar-nav a:hover {
    transition: transform 0.5s ease, color 0.3s ease;
    transform: scale(1.2);
    color: brown !important;
}

.div-nav-items {
    margin-left: -200px;
}

/* Barre horizontale */
hr {
    color: white !important;
    margin-top: -5px;
    border-width: 3px;
}

#game-actions {
    max-width: 600px; /* Définir une largeur maximale */
    margin: 0 auto; /* Centrer la zone horizontalement */
}


#game-content {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#game-content h2 {
    color: red;
}

#game-content ul {
    text-align: left;
}

#alteration-form {
    margin-top: 20px;
}

#user-answer {
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    color: black;
}

#submit-button, #replay {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

#submit-button:hover, #replay:hover {
    background-color: darkred;
}

#submit-button:disabled {
    background-color: darkgrey;
    cursor: not-allowed;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#score, #timer {
    margin-top: 10px;
}

#menu {
    text-align: center;
    padding: 20px;
}

#menu h1 {
    color: white;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    margin: 10px 0;
}

#menu a {
    text-decoration: none;
    color: red;
    font-size: 20px;
}

#menu a:hover {
    color: darkred;
}

#back-button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

#back-button:hover, #help-button:hover{
    background-color: darkgrey;
}

#help-button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
}


/** A propos **/
.about {
    display: none;
    flex-direction: column;
}

.about p {
    margin: auto;
    font-family: 'Gabarito', sans-serif;
}

/* Introduction*/
#introduction {
    text-align: center;
    margin-top: 50px;
}

#introduction h2 {
    color: white;
    margin: 50px;
    letter-spacing: 6px;
}

#introduction p {
    color: white;
    font-weight: bold;
    font-size: large;
    margin: 10px;
    line-height: 25px;
    letter-spacing: 3px;
}

/** Bouton commencer **/
#menu {
    text-align: center;
}

#menu p {
    letter-spacing: 2px;
}

#menu button {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: brown;
    border-color: brown;
    border-radius: 7px;
    border-style: solid;
}

#menu button:disabled,
#menu button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}


#menu button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(72, 18, 18);
}

#menu button:active {
    background-color: rgb(36, 9, 9);
}

/** Boutons choix de jeux **/

.div-jeux-boutons button{
    background-color: #6E3B45;
    border-color: #6E3B45;
    width: 300px;
    max-width: 350px;
    min-width: 100px;
    height: 70px;
    margin-top: 40px;
}

button[active] {
    background-color: rgb(36, 9, 9);
}

#menu button {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: brown;
    border-color: brown;
    border-radius: 10px;
    border-style: solid;
}

#menu button:disabled,
#menu button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}


#menu button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(72, 18, 18);
}

#menu button:active {
    background-color: rgb(36, 9, 9);
}

.cycle-word {
    background-image: linear-gradient(120deg, red, fuchsia, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}